/* Mobile */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.section {
  margin-top: 4rem;
}

/* Mobile L */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* Mobile XL */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Laptop  */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* Desktop L */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* 4k */
@media (min-width: 2560px) {
  .container {
    max-width: 1820px;
  }
}
